@charset "utf-8";
/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0}
ol,ul{list-style:none}:focus{outline:0}
a img{border:0}
a{ text-decoration:none}
img{vertical-align:middle}
table{empty-cells:show}
ins{text-decoration:none}
del{text-decoration:line-through}
em{font-style:normal}
button::-moz-focus-inner,input[type=reset]::-moz-focus-inner,input[type=button]::-moz-focus-inner,input[type=submit]::-moz-focus-inner,input[type=file]>input[type=button]::-moz-focus-inner{border:0;padding:0}
body{font:12px/150% Arial,Verdana,"\5b8b\4f53";color:#666;background:#fff;_background-image:url(about:blank);_background-attachment:fixed}
.fl{float:left}
.fr{float:right}
.clearfix:after{clear: both;content: "";display: block;height: 0;line-height: 0;visibility: hidden;}
.button{color: #fff;padding: 0 10px;border-color: #ED6002;background-color: #FE8502;
    display: inline-block;
    height: 24px;
    line-height: 23px;
    font-size: 12px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    vertical-align: top;
    cursor: pointer;
    text-decoration: none;
}
.button:hover{
    cursor: pointer;
    text-decoration: underline;
}
a.button{color: #fff;}
a.button:hover{color: #fff;}
.w{width: 1200px;margin: 0 auto;}
.alink_v2013 a{color: #666;text-decoration:none;}
.alink_v2013 a:hover{color:red;text-decoration:underline;cursor: pointer;}

/* 收货地址 */
.Caddress{width: 1210px;margin: auto;position: relative;height: 160px;}

.Ccart{width: 100px;height: 20px;position: absolute;background: #ECECEC;right: 5px;line-height: 20px;text-align: center;top: -21px;}
.Caddress .add_mi{height: 106px;float: left;margin-right: 5px; background: url(../images/mail.jpg) no-repeat;padding: 6px 17px; z-index:0;}
.Caddress .act{ background:url("../images/mail_1.jpg") no-repeat; z-index:10;}
.Caddress .add_mi p{font-size: 12px;line-height: 20px;margin-bottom: 5px;color: #666;width: 203px;}
.Caddress .add_mi .sol{ border-bottom:1px dashed #ccc;line-height:28px;}
.Cbox{width: 1210px;margin:15px auto;overflow: hidden}
.Cprice{width: 1210px;margin:20px auto;overflow: hidden; background: #F3F3F3}
.Cprice .price{width: 121px;padding: 5px 10px;line-height: 30px;background-color: #808080;float: left;color:#fff;}
.Cprice .jiesuan{padding: 5px 20px; float: right;line-height: 30px;background: #f40;color: #fff;font-size: 22px}


 /*弹窗*/
.hide_box{z-index:999;filter:alpha(opacity=50);background:#666;opacity: 0.5;-moz-opacity: 0.5;left:0;top:0;height:99%;width:100%;position:fixed;display:none;}
.shang_box{width:540px;padding:10px;background-color:#fff;border-radius:10px;position:fixed;z-index:1000;left:50%;top:50%;margin-left:-280px;margin-top:-280px;border:1px dotted #dedede;display:none;}
.shang_box img{border:none;border-width:0;}
.dashang{display:block;width:100px;margin:5px auto;height:25px;line-height:25px;padding:10px;background-color:#E74851;color:#fff;text-align:center;text-decoration:none;border-radius:10px;font-weight:bold;font-size:16px;transition: all 0.3s;}
.shang_close{float:right;display:inline-block;}


/**
 * 自己写的STUI框架（供参考使用）
 */

/* block */
.block,
.st-btn.block,
.st-control.block {box-sizing:border-box; }
/* disabled */
.disabled, [disabled],
.st-btn.disabled, .st-btn[disabled],
.st-control.disabled, .st-control[disabled],
.st-switcher.disabled, .st-switcher[disabled] {opacity:0.5;filter:alpha(opacity=50);cursor:not-allowed!important;}
.disabled, [disabled],
.disabled *, [disabled] *,
.st-btn.disabled, .st-btn[disabled],
.st-btn.disabled *, .st-btn[disabled] *,
.st-control.disabled, .st-control[disabled],
.st-control.disabled *, .st-control[disabled] *,
.st-switcher.disabled *, .st-switcher[disabled] *,
.st-switcher.disabled, .st-switcher[disabled] {cursor:not-allowed!important;}


/**
* site-button
* @type {[按钮类]}
* 按钮默认高度： 20+2+10 = 32
* sm高度：24
* lg高度：40
*/
.st-btn {line-height:20px;padding:5px 20px;box-sizing:border-box;display:inline-block;text-align:center;border:1px solid transparent;border-radius:0;color:#333;cursor:pointer;}
.st-btn:not(.disabled):not([disabled]):active {opacity:0.8;filter:alpha(opacity=80);}
.st-btn.sm {height:24px;padding:1px 10px;font-size:12px;}
.st-btn.lg {height:40px;padding:9px 30px;font-size:17px;}


/* site-button colors */
.st-btn {background-color:#ddd;}
.st-btn-primary {background-color:#2b99ff;color:#fff;}
.st-btn-info {background-color:#13d3c3;color:#fff;}
.st-btn-success {background-color:#26ab28;color:#fff;}
.st-btn-warning {background-color:#fd9b27;color:#fff;}
.st-btn-danger {background-color:#fc3d39;color:#fff;}
.st-btn:hover {background-color:#ccc;color:inherit;}
.st-btn-primary:hover {background-color:#2185f5;color:#fff;}
.st-btn-info:hover {background-color:#09bfb9;color:#fff;}
.st-btn-success:hover {background-color:#1c971e;color:#fff;}
.st-btn-warning:hover {background-color:#f3871d;color:#fff;}
.st-btn-danger:hover {background-color:#f2292f;color:#fff;}


/* site-button-group */
.st-btn-grp .st-btn {display:block;float:left;border-left-color:rgba(255,255,255,0.3);border-right-color:#ccc;}
.st-btn-grp .st-btn:first-child {border-left-color:transparent;}
.st-btn-grp .st-btn:last-child {border-right-color:transparent;}
.st-btn-grp .st-btn-primary {border-right-color:#2185f5;}
.st-btn-grp .st-btn-info {border-right-color:#09bfb9;}
.st-btn-grp .st-btn-success {border-right-color:#1c971e;}
.st-btn-grp .st-btn-warning {border-right-color:#f3871d;}
.st-btn-grp .st-btn-danger {border-right-color:#f2292f;}


/**
* site-control
* @type {[表单控件]}
*/
.st-control {line-height:20px;height:32px;box-sizing:border-box;padding:5px 10px;font-size:14px;border:1px solid #d5d5d5;border-radius:3;margin-bottom:10px}
.st-control:focus {border-color:#bbb;}
input[type="radio"].st-control, input[type="checkbox"].st-control {border:none;padding:0;height:20px;}
textarea.st-control {min-height:60px;font-size:13px;line-height:16px;}
select.st-control[multiple] {height:100px;}
.st-control.sm {height:24px;padding:1px 6px;font-size:12px;}
.st-control.lg {height:40px;padding:9px 10px;font-size:17px;}


/**
* site-error
* @type {[错误提示]}
*/
.st-error {text-align:left;color:#fc3d39;display:none;font-size:13px;}
.st-tip {text-align:left;color:#999;font-size:13px;}
.st-error.active {display:block!important;}


.open_new{width: 100%;text-align: right;}
.open_btn{height: 30px; width: 120px; border-radius: 10px; background: red; color: white; outline: 0px; margin-bottom: 10px; border: 0px ;}



/*顶部快捷菜单的样式*/
.shortcut_v2013{width: 100%; background-color: #f5f5f5; border-bottom: 1px solid #d8d8d8;}
.shortcut_v2013 .w{height: 30px; line-height: 30px;}
.shortcut_v2013 .menu{height: 24px; line-height: 24px; margin-top: 2px;position: relative;}
.shortcut_v2013 .menu_hd{padding: 1px 12px 0 12px;position: relative;}
.shortcut_v2013 .hover{}
.shortcut_v2013 .hover .menu_hd{padding: 0 11px;border: 1px solid #ddd; border-bottom: 0; background: #fff;z-index: 2; }
.shortcut_v2013 .li_m5 li{padding: 0 2px 0 3px;}
.shortcut_v2013 .menu_hd b{display: inline-block;width:8px;height:8px;overflow:hidden;margin-left:5px;line-height:10px;
    -webkit-transition: -webkit-transform .2s ease-in;
    -webkit-backface-visibility: hidden;
    -moz-transition: -moz-transform .2s ease-in;
    -o-transition: -o-transform .2s ease-in;
    transition: transform .2s ease-in;}
.shortcut_v2013 .hover b{
    border-color:#323030 transparent transparent;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.shortcut_v2013 b em{display: inline-block;width: 0;height: 0;border-style:solid dashed dashed;border-width:4px;border-color: #323030 transparent transparent;overflow: hidden;zoom: 1;font-size: 0;}
.shortcut_s{border-right: 1px solid #bababa;}
.menu_bd{display: none;border: 1px solid #ddd; position: absolute; top:24px;left:-1px; background: #fff; z-index: 10;padding:5px 10px;width: 100px;}
.menu_bd_spw{width: 360px;}
.shortcut_v2013 .hover  .menu_bd{display: block;}


/*头部购物车*/
.cart_box {
    float: right;
    margin-top: 38px;
    z-index: 8;
    -webkit-backface-visibility: hidden;
    line-height: normal;
}
.cart_box .cart_link {
    -webkit-backface-visibility: hidden;
    text-decoration: none;
    display: block;
    width: 138px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #eaeaea;
    background: #f7f5f6;
    z-index: 2;
}
.cart_box .cart_gif {
    float: left;
    width: 24px;
    height: 24px;
    overflow: hidden;
    padding: 4px 8px;
}
.cart_box .text {
    width: 86px;
    height: 32px;
    line-height: 32px;
    color: #666;
    overflow: hidden;
    float: left;
    padding-left: 6px;
    font-family: tahoma,arial,"\5b8b\4f53"; border-right:#eaeaea solid 1px;
}
.cart_box .icon_arrow_right {
    margin: 4px 3px -2px 5px;
    position: absolute;
    top: 11px;
    right: 2px;
    overflow: hidden;
    width: 6px;
    height: 3px;
    background: url(../images/index_icons1.png) no-repeat 0 0;
}
.cart_box .cart_content {
    position: absolute;
    margin-left:-162px;
    margin-top:-2px;
    background: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 2px rgba(0,0,0,.2);
    display: none;
    z-index: 8;
}
.cart_box .cart-icons {
    display: none;
    width: 138px;
    height: 5px;
    background: #fff;
    overflow: hidden;
    position: absolute;
    top: -5px;
    right: 0;
}
.cart_box .cart_content_null {
    width: 260px;
    text-align: center;
    padding: 20px;
    color: #666;
    font-size: 14px;
    display: none;
    _zoom: 1;
    background: #FFF;
    line-height: normal;
}
.cart_content .cart_content_all, .cart_content .cart_content_center {
    width: 300px;
    _zoom: 1;
}
.cart_box .cart_left_time {
    height: 37px;
    line-height: 37px;
    border-bottom: solid 1px #eee;
    padding-left: 30px;
    background: url(../images/cart_countdown.jpg) no-repeat 13px center;
}

.cart_box .num {
    line-height: 13px;
    color: #fff;
    position: absolute;
    text-align: center;
    padding: 1px 6px;
    margin: 0;
    margin-left:-10px;
    margin-top:-6px;
    overflow: hidden; background-color:#e11927; border-radius:5px;
}

.cart_left_time span{color:#e11927;font-weight:700}
.cart_box .cart_content_center {
    max-height: 234px;
    _height: 234px;
    overflow: auto;
    margin-bottom: -1px;
    width: 300px;
    _zoom: 1;
}
.cart_box .cart_con_single {
    height: 61px;
    padding: 8px 12px;
    border-bottom: 1px dashed #d3d3d3;
    overflow: hidden;
}
.cart_box .cart_con_single:hover{background: #f2f2f2;}
.cart_box .single_pic {
    width: 62px;
    height: 62px;
    float: left;
    overflow: hidden;
}
.cart_box .single_pic a {
    border: 1px solid #f5f5f5;
    width: 60px;
    height: 60px;
    display: inline-block;
}
.cart_content .single_pic a img {
    width: 60px;
    height: 60px;
    display: inline-block;
}
.cart_box .single_info {
    width: 187px;
    padding-left: 10px;
    float: left;
    overflow: hidden;
}
.cart_box .single_info .price {
    color: #e11927;
    font-family: arial;
}
.cart_content .single_info a.name {
    display: block;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
}
.cart_content .single_info a.name, .cart_content .price_all .delete, .cart_content .con_all .price_whole, .cart_content .con_all .num_two {
    font-size: 12px;
    text-decoration: none;
    color: #3d3d3d;
}
.cart_content .single_info a.name:hover, .cart_content .price_all .delete:hover, .cart_content .price_all .price, .cart_content .con_all .price_gongji span, .cart_content .con_all .price_gongji em, .cart_content .con_all .num_all {
    color: #e11927;
}
.car-current .cart_link{-webkit-backface-visibility:hidden;padding-bottom:1px;border-bottom:0}
.cart_box .cart_link:hover{background:#fff;}
.cart_box .cart_link:hover .text{-webkit-backface-visibility:hidden; border-right:1px solid #ffffff}
.cart_box .cart_link:hover .cart_gif{background:#fff;}
.car-current .text{background:#fff;-webkit-backface-visibility:hidden;padding-bottom:1px;border-bottom:0;color:#ed145b}
.car-current .icon_arrow_right{-webkit-backface-visibility:hidden;-o-transform:rotate(180deg);-o-transform-origin:50% 30%;-o-transition:transform .2s ease-in;-webkit-transform:rotate(180deg);-webkit-transform-origin:50% 50%;-webkit-transition:transform .2s ease-in;-moz-transform:rotate(180deg);-moz-transform-origin:50% 50%;-moz-transition:transform .2s ease-in;transform:rotate(180deg);transform-origin:50% 50%;transition:transform .2s ease-in}
.car-current .cart_content{display: block;}
.car-current .cart-icons {
    display: block;
}

.cart_content .price_all, .cart_content .con_all .price_whole, .cart_content .con_all .num_two {
    height: 25px;
    line-height: 25px;
    display: inline-block;
}
.cart_box .con_all {
    padding: 5px 15px;
    width: 270px;
    background: #f9f9f9;
    overflow: hidden;
    position: relative;
    z-index: 8;
}
.cart_content .con_all .price_whole {
    width: 270px;
}
.cart_content .con_all .price_gongji {
    float: left;
}
.cart_content .con_all .price_gongji em {
    font-weight: 400;
    padding: 0 2px 0 5px;
}

.cart_content .price_all .price, .cart_content .con_all .price_gongji em, .cart_content .con_all .num_all, .cart_content .con_all .price_gongji span {
    font-size: 14px;
    font-weight: 700;
    font-family: arial;
}
.cart_content .con_all .cart_btn {
    position: absolute;
    left: 190px;
    top: 20px;
    display: block;
    width: 98px;
    height: 26px;
    background: #e11927;
    border: solid 1px #e00a50;
    color: #fff;
    text-align: center;
    line-height: 26px;
    text-decoration: none;
}
.cart_content .con_all .price_gongji span {
    font-size: 18px;
}

/*水平翻转*/
.flipx {-moz-transform:scaleX(-1);-webkit-transform:scaleX(-1);-o-transform:scaleX(-1);transform:scaleX(-1);/*IE*/filter:FlipH;}

/*底部总体样式 20150430 by zhangbin*/
/*底部承诺样式*/
.promise_box{ width:100%; background-color:#e0e0e0; overflow:hidden; padding:17px 0px; margin-top:50px;}
.promise_box ul{ width:100%; float:left;}
.promise_box ul li{ float:left; padding:0 45px;}
.promise_box ul li img{ float:left}
.promise_box ul li span{ float:left; line-height:50px;font-family: "Microsoft YaHei"; color:#000; font-size:18px; padding-left:13px;}

/*公共脚部分*/
.footer_v2013  .foot_p1,.footer_v2013  .foot_p2{ text-align: center;}
.footer_v2013  .foot_p1 a{margin: 0 10px;}
.footer_v2013  .foot_p2{color: #a6a5a6;}
.footer_v2013  .foot_p2 span{ margin: 0 10px;}
.footer_v2013  .foot_mt30{margin-top: 30px;}
pre{ line-height:22px;}
/*公共脚部分*/

.bottom-links{
    width:100%;
    text-align: center;background-color:#f5f5f5;
}
.bottom-links-title{
    font-size: 15px;
    color: #000000;font-family: "Microsoft YaHei"; text-align:left;
}
.bottom-links .cols{
    margin: 0px auto;
    width:1200px;
	 padding:10px 0px;
	 border-bottom:#d6d6d6 solid 1px;
}
.bottom-links .col{
    float: left;
    padding: 0 60px;
    margin-top: 15px;
}
.bottom-links-items{
    margin-top: 18px;
    text-align: left;
}
.bottom-links-items img{
	margin-right:10px;
}
.bottom-links-items li{
    padding: 3px 0;
}
.bottom-links-items a{
    color: #666;
    text-decoration: none;
	font-family: "Microsoft YaHei";
}
.bottom-links-items a:hover{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}
.bottom-about{
    width: 100%;
    text-align: center;
    padding-top: 30px; background-color:#f5f5f5;
}
.bottom-about a{
     color: #666666;
     text-decoration: none; line-height:20px;
 }
.bottom-about a:hover{
    text-decoration: underline;
}

